//-
mixin faq()
	+b.accordion#accordion-faq(aria-multiselectable='true')
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-1')
				+e('h3').title What is DApp DEV Blockchain Workshops & Hackathon about?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-1
				+e.text.rich-text
					p It is a 2-day event for learning, hacking, hiring & networking with fellow blockchain enthusiasts.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-2')
				+e('h3').title Who can attend the DApp DEV Blockchain Workshops & Hackathon?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-2
				+e.text.rich-text
					p Yes! This is an event to learn. Some people will be extremely talented, some just beginners, that's why it will be amazing.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-3')
				+e('h3').title I am a beginner. Am I welcome?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-3
				+e.text.rich-text
					p Yes! This is an event to learn. Some people will be extremely talented, some just beginners, that's why it will be amazing.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-4')
				+e('h3').title What’s the prize? 
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-4
				+e.text.rich-text
					p - 3 ETH award for the winning team. - Crypto token Airdrops for the best teams. - Networking & hiring.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-5')
				+e('h3').title How will teams be formed and what is the ideal team size?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-5
				+e.text.rich-text
					p You may register with a team of your own but in case you don't have a team, we will help you to form one on the spot. The max team size is five participants.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-6')
				+e('h3').title Can we compete with an existing product? 
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-6
				+e.text.rich-text
					p No. It needs to be built from scratch during the weekend. Idea creation and team formation will be done at the event. All submitted code must be created between the hacking period start and stop time.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-7')
				+e('h3').title Why is there a fee?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-7
				+e.text.rich-text
					p It is well worth it though, as we provide the food, drinks, coffee, suppliers, venue, mentors and prizes.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-8')
				+e('h3').title What should I bring? 
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-8
				+e.text.rich-text
					p A laptop and a good mood. We will take care of the rest: free wifi, foods, drinks, tea, coffee and office suppliers. 

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-9')
				+e('h3').title What about challenges?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-9
				+e.text.rich-text
					p All the challenges will be predefined by the organisers and disclosed at length before the hackathon.  The challenges will apply to various spheres: UI/UX solutions for blockchain, TCRs, Curation Markets, prediction markets, decentralized autonomous organization (DAOs), DEXs, supply chain, audits of smart contracts, legal, fintech and education. You can choose the challenge and form a team accordingly.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-10')
				+e('h3').title Should I pre-install any software on my laptop before the Hackathon?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-10
				+e.text.rich-text
					p Teams are encouraged to come prepared for the Hackathon by having their own laptops with a suitable development environment pre-installed for languages they would like to use and Git.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-11')
				+e('h3').title Who will bear the travel and accommodation costs?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-11
				+e.text.rich-text
					p All the travel and accommodation costs will be borne by the participants.

		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-12')
				+e('h3').title What if I have other questions?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-12
				+e.text.rich-text
					p If you would have any questions about the event, just drop us a line to hello@dappdev.org and we'll be in touch! Alternatively, reach out to us on Twitter, LinkedIn or Facebook and we’ll get back to you as soon as possible.
//