mixin faq()
	+b.accordion#accordion-faq(aria-multiselectable='true')
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-1')
				+e('h3').title Question number 01 goes in here?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-1
				+e.text.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-2')
				+e('h3').title Question number 02 goes in here?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-2
				+e.text.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-3')
				+e('h3').title Question number 03 goes in here?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-3
				+e.text.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-4')
				+e('h3').title Question number 04 goes in here?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-4
				+e.text.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
		+e.item
			+e.heading.collapsed(data-toggle='collapse', href='#collapse-faq-5')
				+e('h3').title Question number 05 goes in here?
				+icon('chevron-down')
			+e.content.collapse#collapse-faq-5
				+e.text.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.