//BEGIN footer
mixin m-footer(classes, isHiden)
	if !isHiden
		+b('footer').m-footer(class=classes)
			+e.container
				+b('ul').social
					+e('li'): +e('a').icon(href='mailto:pavlomakarov.m@gmail.com')
						+icon('email')
					+e('li'): +e('a').icon(href='https://github.com/DAppDevConsulting/')
						+icon('github')
					+e('li'): +e('a').icon(href='https://twitter.com/dapp_dev/')
						+icon('twitter')