extends layouts/_layout_landing
block variables
	- var isFooterHiden = true;
	- var currentPage = 'Campus';

block content
	.content
		+b('section').hero(id='home')
			.row
				+e.content
					+e('h1').title Coming soon...