extends layouts/_layout_landing
block variables
	- var isHeaderBtnShown = false;
	- var currentPage = 'Conference';

block content
	+page-nav(conference.sidebar)
	.content
		+b('section').hero(id='home')
			.row
				+e.content
					+e('p').up-text April 2019 / Kyiv
					+e('h1').title DApp DEV Ethereum Conference
					+e('p').subtitle by developers for developers

		+section('About', !1, !1, 'about')
			+e.text.rich-text
				p Join us in April 2019 to be part of a vibrant DApp DEV Ethereum Conference & Workshops where developers, designers and professionals will get an opportunity to come together and share knowledge about cutting edge products based on blockchain protocols.
				p We are looking forward to turning data into knowledge, buzz into reality, technological advances from the blockchain industry into economic and social goods!
			+numbers(conference.numbers)

		+section('Speakers', !1, !1, 'mentors')
			+mentors(conference.mentors)

		+section('Agenda', !1, !1, 'agenda')
			+program(conference.program)

		//+section('Tickets', !1, !1, 'tickets')
		//	+tickets(conference.tickets)

		+section('Partners', !1, !1, 'partners')
			+partners(conference.partners, '_partners')

		+section('Technology Partners', !1, '_techpartners', !1)
			+partners(conference.techpartners, '_techpartners')

		+section('Contributors', !1, '_contributors', !1)
			+partners(conference.contributors, '_contributors')

		+section('Venue', !1, !1, 'venue')
			+b.contacts
				+e.contacts
					+e.address
						p IZONE Creative Community:
						p Naberezhno-Lugova St, 8, Kyiv, Ukraine
					+e.organizer
						p Organizer:
						p DApp DEV
						+e('a').email(href="mailto:hello@dappdev.org") hello@dappdev.org
						p Tel.: +38 067-609-45-45
				+e.map

		+section('FAQ', !1, !1, 'faq')
			+faq()

		+section('What we did', !1, !1, 'did')
			+e.text
				+b.rich-text
					p a(href="http://dappdev.org/conference/2018/") DApp DEV ETH Conf 2018
			+b.full-video._past-events
				iframe(src=`https://www.youtube.com/embed/${conference.did.video}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			+b.img-tiles
				+e('h3').title #{conference.did.title}<br/>#{conference.did.subtitle}
				+e.tiles
					each img in conference.did.photos
						+e.tiles-item
							+e.img-wrap
								+e('img').img(src=`img/past-events/${img}`)