//- Description no longer than 155 characters
meta(name="description" content="DApp DEV Conference 2018 - By Developers for Developers")
//Twitter Card data
//meta(name="twitter:card" content="summary")
//meta(name="twitter:site" content="@publisher_handle")
meta(name="twitter:title" content="DApp DEV Conference 2018 - By Developers for Developers")
meta(name="twitter:description" content="Conference for Developers on April 16, 2018 (Kyiv, Ukraine). 15 international speakers, 2 stages, 450 attendees. Buy Ticket Now!")
//meta(name="twitter:creator" content="@author_handle")
////- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://dappdev.org/img/dappdev.png")

//Open Graph data
meta(property="og:title" content="DApp DEV Conference 2018 - By Developers for Developers")
meta(property="og:type" content="article")
meta(property="og:url" content="http://dappdev.org/")
meta(property="og:image" content="https://dappdev.org/img/dappdev.png")
meta(property="og:description" content="Conference for Developers on April 16, 2018 (Kyiv, Ukraine). 15 international speakers, 2 stages, 450 attendees. Buy Ticket Now!")
meta(property="og:site_name" content="DApp Dev")
//meta(property="fb:admins" content="Facebook numeric ID")
