//- Description no longer than 155 characters
meta(name="description" content="iCON Software - Modern International and Сreative IT company based in Los Angeles with a development offices located in Eastern Europe.")
meta(name="Keywords" content="Software Development, Web Design, UX, UI, IT Company, Front END Development, Back END Development, iCon Software, Mobile Development, Разработка Web приложений, Разработка приложений, Веб дизайн, Мобильные Приложения, Разработка ПО")
//Twitter Card data
//meta(name="twitter:card" content="summary")
//meta(name="twitter:site" content="@publisher_handle")
meta(name="twitter:title" content="iCON Software")
meta(name="twitter:description" content="iCON Software - Modern International and Сreative IT company based in Los Angeles with a development offices located in Eastern Europe.")
//meta(name="twitter:creator" content="@author_handle")
////- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="http://iconsoft.io/img/footer/main-logo.svg")

//Open Graph data
meta(property="og:title" content="iCON Software")
meta(property="og:type" content="article")
meta(property="og:url" content="http://iconsoft.io/")
meta(property="og:image" content="http://iconsoft.io/img/footer/main-logo.svg")
meta(property="og:description" content="iCON Software - Modern International and Сreative IT company based in Los Angeles with a development offices located in Eastern Europe." )
meta(property="og:site_name" content="iCON Software")
//meta(property="fb:admins" content="Facebook numeric ID")
