.m-footer {
  position: relative;
  z-index: 2;
  overflow: hidden;

  &__container {
    max-width: 1162px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
  }

  .social {
    display: inline-flex;
  }
}