.m-footer {
  padding: 60px 0;
  overflow: hidden;

  &__container {
    max-width: 1162px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
  }

  .social {
    display: inline-flex;
  }
}