.hero {
  overflow: hidden;
  min-height: 350px;
  height: 100vh;
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  color: #fff;

  &::after{
    content: '';
    position: fixed;
    bottom: 0;
    right: 5%;
    background-image: url($img + 'hero-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 100%;
    width: 70%;
    max-width: 800px;
    height: 100%;
    opacity: .7;
    transition: opacity 0.5s;

    .is-scrolled & {
      opacity: 0;
    }
  }

  &__content{
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 634px;
  }

  &__up-text{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__subtitle{
    margin-top: 26px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
  }

  @include mq(1024) {
    min-height: 600px;
    padding-top: 90px + $header-height;

    .row{
      padding-left: 50px;
    }

    &__title {
      font-size: 64px;
      line-height: 1.13em;
      max-width: 884px;
    }

    &__up-text{
      font-size: 18px;
    }

    &__subtitle{
      font-size: 21px;
    }
  }

}