.page-nav {
  display: none;

  @include mq(1100){
    position: fixed;
    display: block;
    width: 1332px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
    text-align: left;

    /*right: calc(50% + 560px);*/

    &__list {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      display: inline-block;
      text-align: right;
      min-width: 70px;

      &-item {
        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    &__link {
      position: relative;
      font-size: 12px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      padding-right: 19px;

      &:hover{
        font-weight: 700;
      }

      &::before,
      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        content: '';
        border-radius: 50%;
      }

      &::before {
        width: 3px;
        height: 3px;
        background-color: #fff;
      }

      &::after {
        width: 16px;
        height: 16px;
        border: 2px solid #2A2B31;
        opacity: 0;
        transition: transform $primary-transition;
      }

      &.active {
        font-weight: 700;

        &::after{
          opacity: 1;
        }
      }
    }
  }
}