.page-nav {
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  z-index: 50;
  right: calc(50% + 560px);
  text-align: right;

  &__list {
    &-item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    padding-right: 19px;

    &:hover{
      font-weight: 700;
    }

    &::before,
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      content: '';
      border-radius: 50%;
    }

    &::before {
      width: 3px;
      height: 3px;
      background-color: #fff;
    }

    &::after {
      width: 16px;
      height: 16px;
      border: 2px solid #2A2B31;
      opacity: 0;
      transition: transform $primary-transition;
    }

     &.active {
      font-weight: 700;

      &::after{
        opacity: 1;
      }
    }
  }
}