.tiles {

  @include mq(768){
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }


  //BEGIN mods
  &_numbers {
    .tiles {

      &__item {
        width: 180px;
        margin-top: 34px;
        margin-left: auto;
        margin-right: auto;

        &:not(:first-child) {
          margin-top: 40px;
        }

        &:first-child{
          .number__desc{
            max-width: 160px;
          }
        }
      }

    }

    @include mq(768){
      margin: 34px 0 -30px;
      .tiles{
        &__item {
          flex-shrink: 0;
          margin: 30px 60px;
          &:not(:first-child) {
            margin-top: 30px;
          }
        }
      }
    }

    @include mq(1024){
      margin: 34px -30px -30px;
      flex-wrap: nowrap;
      justify-content: space-between;

      .tiles {
        &__item {
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
  }

  &_mentors {
    margin: -25px -15px;

    .tiles {
      &__item {
        width: 300px;
        padding: 25px 15px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      }

    }

    @include mq(768){
      flex-shrink: 0;
      align-items: stretch;

      .tiles{
        &__item {
          margin: 0;
        }
      }
    }
  }

  &_tickets {
    margin: -25px -15px;

    .tiles {
      &__item {
        width: 300px;
        padding: 25px 15px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      }

    }

    @include mq(768){
      flex-shrink: 0;
      align-items: stretch;

      .tiles{
        &__item {
          margin: 0;
        }
      }
    }
  }
  //END mods

}