.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: #fff;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-linkedin {
  width: 1.12em;
  height: 1em;
  fill: #fff;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: #fff;
}
